{% extends 'scoop/layouts/base.html' %}
{% load static %}
{% block title %}
Reset your password
{% endblock %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% block content %}
<h2 style="color:rgb(139, 121, 17) ;"><br><br><br><br><center>Reset your password</center></h2>
<p>
    <h3 style="color:rgb(139, 121, 17) ;">
        <center>
            <b>
                We have emailed  you  instructions  for setting your password.
            </b>
        </center>
    </h3>
</p>
<p>
    <h3 style="color:rgb(139, 121, 17) ;">
        <center>
            <b>
                If you do not receive  an email , please make sure  you have entered address  you registered with.
            </b>
        </center>
    </h3>
</p>
{% endblock %}