{% extends 'scoop/layouts/base.html' %}
{% load static %}
{% block title %}
Reset your password
{% endblock %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

{% block content %}
<h2 style="color:rgb(139, 121, 17) ;"><br><br><br><center>Forgotten your password?</center></h2>
<p>
    <h3 style="color:rgb(139, 121, 17);">
        <center>Enter your e-mail address to obtain a new password.</center></p>
    </h3>
</p>
<form method="post">
    <center>{{ form.as_p }}</center>
    {% csrf_token %}
    <p> 
        <center><input type="submit" value="Send e-mail"></center>
    </p>
    {% csrf_token %}
</form>
{% endblock %}